#banner {
    background-image: url('https://preview.redd.it/6092ltrt8nt71.jpg?auto=webp&s=c26d698d5d92796be9c6ab47f22dba63a7be96c3');
    background-position: 50% 50%;
    background-size: cover;
    width: 100%;
    height: 600px;
}

@media(max-width: 768px) {
    #banner {
        background-position: 40%;
    }
}